{{ ark_server_root }}/ShooterGame/Saved/Logs/*.log {
    daily
    rotate 14
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
    su {{ ark_user }} {{ ark_user }}
    create 0644 {{ ark_user }} {{ ark_user }}
}

/var/log/arkmanager/*.log
/var/log/arkmanager/*/*.log {
    weekly
    rotate 8
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
}
