[/Script/ShooterGame.ShooterGameUserSettings]
ActiveLingeringWorldTiles=10
bCameraViewBob=True
bChatBubbles=True
bCraftablesShowAllItems=True
bFilmGrain=False
bFirstPersonRiding=False
bFloatingNames=True
bInvertLookY=False
bJoinNotifications=True
bMotionBlur=True
bShowChatBox=True
bShowStatusNotificationMessages=True
bThirdPersonPlayer=False
bUseDesktopResolutionForFullscreen=False
bUseDFAO=True
bUseSSAO=True
bUseVSync=False
CameraShakeScale=0.100000
FOVMultiplier=1.000000
FullscreenMode=2
GraphicsQuality=2
GroundClutterDensity=1.000000
LastConfirmedFullscreenMode=2
LastUserConfirmedResolutionSizeX=1280
LastUserConfirmedResolutionSizeY=720
LookLeftRightSensitivity=1.000000
LookUpDownSensitivity=1.000000
MasterAudioVolume=1.000000
MusicAudioVolume=1.000000
ResolutionSizeX=1280
ResolutionSizeY=720
SFXAudioVolume=1.000000
TrueSkyQuality=0.270000
Version=5
WindowPosX=-1
WindowPosY=-1

[MessageOfTheDay]
Duration={{ motd_duration | default(15) }}
Message={{ motd_message | default("Welcome to " ~ location ~ " " ~ server_tag ~ " " ~ item.map_name ~ " " ~ server_mode ~ " - Press F1 for Latest Updates!") }}

[ServerSettings]
AdminLogging=False
AllowAnyoneBabyImprintCuddle=True
AllowCaveBuildingPvE=False
AllowFlyerCarryPvE=True
AllowHideDamageSourceFromLogs=True
AllowHitMarkers=True
AllowIntegratedSPlusStructures=True
AllowRaidDinoFeeding=False
AllowTekSuitPowersInGenesis=True
allowThirdPersonPlayer=True
AlwaysAllowStructurePickup=True
alwaysNotifyPlayerJoined=False
alwaysNotifyPlayerLeft=False
AutoDestroyDecayedDinos=True
AutoDestroyOldStructuresMultiplier={{ auto_destroy_old_structures_multiplier | default(5) }}
AutoDestroyStructures=True
AutoSavePeriodMinutes=60
bAllowPlatformSaddleMultiFloors=True
{% if banlist_url is defined and banlist_url %}
BanListURL={{ banlist_url }}
{% endif %}
bForceCanRideFliers=True
ClampItemSpoilingTimes=True
ClampResourceHarvestDamage=False
CrossARKAllowForeignDinoDownloads=True
crossplay=True
DayCycleSpeedScale=1.0
DayTimeSpeedScale=1
DestroyUnconnectedWaterPipes=True
DifficultyOffset=1.0
DinoCountMultiplier=1
DinoDamageMultiplier=1
DinoResistanceMultiplier=1
DisableDinoDecayPvE=False
DisableImprintDinoBuff=False
DisablePvEGamma=False
DisableStructureDecayPvE=False
DisableWeatherFog=False
EnableCryopodNerf=False
EnableCryoSicknessPVE=False
EnableExtraStructurePreventionVolumes=True
FastDecayUnsnappedCoreStructures=True
FishingLootQualityMultiplier=2.500000
globalVoiceChat=False
HarvestAmountMultiplier={{ harvest_amount_multiplier | default(2) }}
HarvestHealthMultiplier={{ harvest_health_multiplier | default(2) }}
ItemStackSizeMultiplier=1
KickIdlePlayersPeriod=3600
ListenServerTetherDistanceMultiplier=1.000000
MaxPersonalTamedDinos=1000
MaxPlayers={{ item.map_max_players }}
MaxTamedDinos={{ max_tamed_dinos | default(10000) }}
NightTimeSpeedScale=1
NonPermanentDiseases=True
noTributeDownloads=False
OnlyAutoDestroyCoreStructures=False
OnlyDecayUnsnappedCoreStructures=False
OverrideNamedEngramEntries=(EngramClassName="EngramEntry_Propagator_C",EngramLevelRequirement=120,EngramPointsCost=35)
OverrideOfficialDifficulty={{ override_official_difficulty | default(5) }}
OverrideStructurePlatformPrevention=False
OxygenSwimSpeedStatMultiplier=1
PerPlatformMaxStructuresMultiplier=1
PlatformSaddleBuildAreaBoundsMultiplier=1
PlayerDamageMultiplier={{ player_damage_multiplier | default(1.0) }}
PreventDownloadDinos=False
PreventDownloadItems=False
PreventDownloadSurvivors=False
PreventOfflinePvP={{ 'True' if server_mode == 'PvP' else 'False' }}
PreventTribeAlliances=False
PreventUploadDinos=False
PreventUploadItems=False
PreventUploadSurvivors=False
proximityChat=False
PvEDinoDecayPeriodMultiplier={{ pve_dino_decay_period_multiplier | default(5) }}
PvEStructureDecayPeriodMultiplier={{ pve_structure_decay_period_multiplier | default(2.5) }}
PvPDinoDecay={{ 'True' if server_mode == 'PvP' else 'False' }}
PvPStructureDecay={{ 'True' if server_mode == 'PvP' else 'False' }}
RaidDinoCharacterFoodDrainMultiplier=1.000000
RandomSupplyCratePoints=False
RCONServerGameLogBuffer=600.000000
ResourcesRespawnPeriodMultiplier={{ resources_respawn_period_multiplier | default(0.75) }}
ServerAdminPassword=
ServerAutoForceRespawnWildDinosInterval=43200
ServerCrosshair=True
serverForceNoHud=False
servergamelog=True
serverHardcore=False
ServerPassword=
ShowFloatingDamageText=True
ShowMapPlayerLocation=True
SpectatorPassword=
StructurePickupHoldDuration=0.5
StructurePreventResourceRadiusMultiplier=1.000000
TamedDinoDamageMultiplier=1
TamingSpeedMultiplier={{ taming_speed_multiplier | default(4.5) }}
TheMaxStructuresInRange={{ the_max_structures_in_range | default(10500) }}
TribeLogDestroyedEnemyStructures=True
TribeNameChangeCooldown=999
TributeCharacterExpirationSeconds=2592000
TributeDinoExpirationSeconds=2592000
TributeItemExpirationSeconds=2592000
UseOptimizedHarvestingHealth=False
UseStructureStasisGrid=True
XPMultiplier={{ xp_multiplier | default(1) }}

[SessionSettings]
SessionName={{ location }} {{ server_tag }} {{ item.map_name }} {{ server_mode }}
